body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color:#ededf8 ;
    margin: 0;
  }
.conteneur{
  margin-right: auto;
  margin-left: auto;
  width: 50%; 
  background-color: #e5e5fa; 
  padding:15px;
}
h1 {
text-align: center;
}